<input data-ng-if="content.type === 'Number'" type="number" name="name" ng-model="content.value">
<input data-ng-if="content.type === 'String'" type="text" name="name" ng-model="content.value">
<input data-ng-if="content.type === 'Boolean'" type="checkbox" name="name" ng-model="content.value">
<div data-ng-if="content.type === 'Object' || content.type === 'Array'">
  <div class="args" ng-repeat="(arg, content) in content.value">
    <label for="name">Argument Name: {{arg}} <i>it's a Object</i></label>
    <div data-ng-include="'views/methodsArguments.html'"></div>
  </div>
</div>
<div data-ng-if="content.type === 'Null'">
  <b style="color:red">Invalid argument definition</b>
</div>
<hr>
