<input data-ng-if="content.type === 'Number'" type="number" name="name" ng-model="content.value">
<input data-ng-if="content.type === 'String'" type="text" name="name" ng-model="content.value">
<input data-ng-if="content.type === 'Boolean'" type="checkbox" name="name" ng-model="content.value">
<div data-ng-if="content.type === 'Object'">
  <div class="args" ng-repeat="(arg, content) in content.value">
    <label for="name">{{arg}}</label>
    <p>type:{{content.type}}</p>
    <p>value:{{content.value}}</p>
    <!-- <input data-ng-if="content.type === 'Number'" type="number" name="name" ng-model="content.value">
    <input data-ng-if="content.type === 'String'" type="text" name="name" ng-model="content.value">
    <input data-ng-if="content.type === 'Boolean'" type="checkbox" name="name" ng-model="content.value"> -->
    <div data-ng-include="'views/methodsArguments.html'"></div>
  </div>
</div>
<hr>