<input data-ng-if="landing.getType(parent[arg])=== 'number'" type="number" name="name" ng-model="parent[arg]">
<input data-ng-if="landing.getType(parent[arg]) === 'string'" type="text" name="name" ng-model="parent[arg]">
<input data-ng-if="landing.getType(parent[arg]) === 'boolean'" type="checkbox" name="name" ng-model="parent[arg]">
<div data-ng-if="landing.getType(parent[arg]) === 'object'">
  <div ng-repeat="(arg, value) in parent[arg] as parent">
    <label for="name">{{arg}}</label>
    <p>
      {{landing.getType(value)}}
    </p>
    <div data-ng-include="'views/methodsArguments.html'">
    </div>
  </div>
</div>